* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito Sans', Arial, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: white;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

nav .pagelinks {
  display: none;
}

header {
  padding-top: 3rem;
}

.container {
  display: flex;
}

main .container {
  flex-direction: column;
}

.card {
  flex: 0 0 auto;
  background-color: white;
  margin: .5rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

@media (min-width: 992px) {

  nav .burger {
    display: none;
  }

  nav .pagelinks {
    display: block;
  }

  .material-icons {
    position: relative;
    top: 5px;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    margin: 0;
    display: inline;
    padding: 1rem;
    transition: border 0.25s ease-out;
  }

  nav li:hover, nav li:active, nav li:focus {
    border-bottom: 10px solid #39b6ff;
  }

  nav a {
    text-decoration: none;
    color: white;
    transition: color 0.25s ease-in;
  }

  nav li:hover > a, nav li:active > a, nav li:focus > a {
    color: #39b6ff;
  }
}