body {
  background-color:cornsilk;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

h1, p {
  color:blueviolet;
}

p {
  border: solid;
  border-color: black;
  border-width: 1px;
}

a {
  color: blue;
}